.left-bar {
	display: none;
	position: relative;
	padding: 10px;
	background: $yellow;
	color: white;
	text-align: center;
	@media screen and (min-width: 600px){
		display: block;
		width: 20%;
		height: 100%;
		padding-top: 70px;
		position: fixed;
		top: 0;
		left: 0;
	}
}

.profile-content {
	padding: 0 20px;
	@media screen and (min-width: 600px){
		padding-left: 22%;
	}
	.glyphicon {
		color: $yellow;
	}
	.img-circle {
		display: block;
		width: 80px;
		height: 80px;
		background-size: cover;
		background-position: center;
	}
}

.imgUser {
	position: absolute;
	bottom: 10px;
	left: 20px;
	max-width: 100px;
	@media screen and (min-width: 600px){
		max-width: 100%;
	}
}

.group {
	padding: 15px 0;
	display: flex;
	align-items: center;
	&:nth-child(even){
		background: #f9f9f9;
	}
	@media screen and (max-width: 500px){
		flex-wrap: wrap;
	}
}
