
$yellow: #ffc602;

@import "age";
@import "user-profile";
@import "custom-stars";

 body {
	background: #fff;
	padding-top: 50px;
}

#logo {
	max-width: 98px;
	float: left;
	margin: auto;
	padding-top: 3px;
}

.input-group {
	@media screen and (max-width: 767px){
		width: 100%;
	}
}

#map-canvas { height: 400px}

.navbar-fixed-top {
	border: none;
}

.userIcon {
	float: right;
	margin: 5px auto;
	padding-top: 6px;
	font-size: 30px;
	color: $yellow;
	border: 2px solid $yellow;
	border-radius:50%;
	text-align: center;
	width: 40px;
	height: 40px;
	overflow: hidden;
}

#backgroundBeer {
	padding-bottom: 80px;
	padding-top: 80px; 
	background-image: url("../img/beer.jpg");
	background-size: auto 100%;
	background-position: top center;

}


#searchBar {
	margin-top: 30px;
}

#advancedOptionsParag {
	font-family: "arial", serif, sans-serif;
	color: white;
	font-size: 1em;
	margin: 0 auto;
	display: block;
	padding-left: 3em;

}

#advancedOptions {
	font-family: "arial", serif, sans-serif;
	color: white;
	font-size: 1em;
	margin: 0 auto;
}

.filter {
	display: inline;
}

.beerResult {
	max-width: 300px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 20px; 

	p {
		margin-top: 10px;
	}
}

#beerImage {
	width: 200px;
}

.btn {
  color: #2b2b2b;
  background: white;
  font-weight: normal;
  border: 1px solid $yellow;
  &:hover, &:focus {
	  color: white;
	  background: $yellow;
	  text-shadow: none;
  }
}

.btn-primary {
	background: $yellow;
	color: #fff;
	&:hover {
	  	opacity: .8;
	}
}
 
.backgroundList {
	padding-bottom: 80px;
	background-position: bottom right;
	background-repeat: no-repeat;
}


.search-options {
	margin-top: 10px;
	position: relative;
}

.advOptions {
	background: rgba(255,255,255,0.8);
	border-radius: 5px;
	padding: 3px 5px 5px;
	color: #5a5a5a;
	position: absolute;
	width: 100%;
}

.footer{
	background-color: #222;
	color: #fff; 
	padding: 20px;
	clear: both;
	text-align: right;
}

.map-show {
	visibility: visible;
	opacity: 1;
}
.map-hide {
	visibility: hidden;
	opacity: 0;
}


