
$yellow: #ffc602;

@import "age";
@import "user-profile";

body {
	background: #fff;
	padding-top: 50px;
}

#logo { 
	
	max-width: 98px;
	float: left;
	margin: auto;
	padding-top: 10px;

}


.userIcon {
	float: right;
	margin: 5px auto;
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 30px;
	color: $yellow;
	border: 2px solid $yellow;
	border-radius:50%;
	text-align: center;
	width: 50px;
	height: 50px;
}

#backgroundBeer {
	padding-bottom: 80px;
	padding-top: 80px; 
	background-image: url("../img/beer.jpg");
	background-size: auto 100%;
	background-position: top center;

}


#searchBar {
	margin-top: 30px;
}

#advancedOptionsParag {
	font-family: "arial", serif, sans-serif;
	color: white;
	font-size: 1em;
	margin: 0 auto;
	display: block;
	padding-left: 3em;

}

#advancedOptions {
	font-family: "arial", serif, sans-serif;
	color: white;
	font-size: 1em;
	margin: 0 auto;
}

.filter {
	display: inline;
}

.beerResult {
	border: 0px solid red;
	max-width: 300px;
	margin: 0 auto;
}

#beerImage {
	width: 200px;
	
}

.btn {
  color: black;
  background: white;
  font-weight: normal;
  border: 1px solid $yellow;
  &:hover {
	  color: white;
	  background: $yellow;
	  text-shadow: none;
  }
}

.btn-primary {
	background: $yellow;
	color: #fff;
	&:hover {
	  	opacity: .8;
	}
}
 

.backgroundList {
	padding-bottom: 80px;
	padding-top: 80px; 
	// background-image: url("../html/img/dumbeerTransparent.png");
	background-position: bottom right;
	background-repeat: no-repeat;
}


