<!DOCTYPE html>
<html lang="en" ng-app="dumbeer">
<head>
	<meta charset="UTF-8">
	<title>Dumbeer</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
	
	<div class="container">
		<div ng-controller="searcher">
			<form ng-submit="submit()" class="col-sm-6 col-sm-offset-3 input-group">
		    	<div  class="input-group">
			    	<input type="text" class="form-control" placeholder="Search for..." ng-model="beerToSearch">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
					</span>
				</div>
				<div class="input-group">
					<p>Advanced filters:</p>
					<fieldset> organic:
						<select class="form-control" ng-model="isOrganic">
						  <option value="">Select an organic type</option>
						  <option value="Y">si</option>
						  <option value="N">no</option>
						</select>
					</fieldset>
					<fieldset> style of the beer:
						<select class="form-control" ng-model="styleBeer">
						  <option value="">Select a type</option>
						  <option value="1">British Origin Alesless than 10</option>
						  <option value="2">Irish Origin Ales</option>
						  <option value="3">North American Origin Ales</option>
						  <option value="4">German Origin Ales</option>
						  <option value="5">Belgian And French Origin Ales</option>
						  <option value="6">International Ale Styles</option>
						  <option value="7">European-germanic Lager</option>
						  <option value="8">North American Lager</option>
						  <option value="9">Other Lager</option>
						  <option value="10">International Styles</option>
						  <option value="11">Hybrid/mixed Beer</option>
						  <option value="12">Mead, Cider, & Perry</option>
						</select>
					</fieldset>
					region
				</div>
			</form>

		   <div class="container">
	        	<div ng-view></div>
	       </div>		
			<div class="row">
			  <div class="col-sm-6 col-md-4" ng-repeat="beers in resultSearchedBeers track by $index">
			    <div class="thumbnail">
			      <img src="{{ beers.labels.medium || imageNot }}" alt="beers_Image">
			      <div class="caption">
			        <h3>{{ beers.name }}</h3>
			        <p>ABV:{{ beers.abv || beers.style.abvMax || beers.style.abvMin}}%</p>
			        <p><a href="resultsBeer.html" class="btn btn-primary" role="button">More information</a></p>
			      </div>
			    </div>
			  </div>

			<div>
				<p ng-repeat="beers in resultSearchedBeers | filter : { isOrganic : isOrganic  , style : { categoryId : styleBeer } }"> {{ beers.name }} </p>

			</div>
	    </div>
	</div>
	
	<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-route.js'></script>

	<script src="js/buscador.js"></script>

</body>
</html>