<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>User Profile</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="dist/style.css">

</head>
<body>
    <div ng-controller="CheckInController">
      <div class="col-sm-2 left-bar">
        <img class="imgUser" src="img/usuario.png" alt="">
        <p>User Name</p>
      </div>
      
      <div ng-show="storage.checkIn" ng-controller="HistoryController">  
        <div class="col-sm-10 ">
          <div class="group" ng-repeat="checkin in storage.checkIn">
            <div class="col-sm-2">
              <img class="img-circle" src="img/estrella-icon.png" alt="">
            </div>
            <div class="col-sm-3">
              <p><strong>{{ checkin.beerName }}</strong></p>
              <time>{{ checkin.date | date : 'short' }}</time>
            </div>
            <div class="col-sm-3">
              <div ng-controller="getRatingController">
                <i class="glyphicon glyphicon-star" ng-repeat="rating in rating($parent.checkin.beerId)"></i>
              </div>
            </div>
            <div class="col-sm-2">
              <button class="btn btn-default">Specifications</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
  <script>
    angular.module('app', ['ngStorage'])
      .controller('CheckInController', function($scope, $localStorage) {
        $scope.storage = $localStorage;

        if( $scope.storage.beers === undefined){
          var beers = [
            {
              id: 1,
              name: 'Estrella',
            },
            {
              id: 2,
              name: 'Sierra Nevada',
            },
            {
              id: 3,
              name: 'New Belgium',
            }
          ];
          $scope.storage.beers = beers;   
        }         
        
        $scope.hasCheckedIn = false;
        $scope.checkIn = function(beer) {
          if($scope.hasCheckedIn === false){
            if($scope.storage.checkIn === undefined){
              $scope.storage.checkIn = [];
            }
            var date = new Date();
            var checkInObject = {
              beerId: beer.id,
              beerName: beer.name,
              date: date            
            }
            $scope.storage.checkIn.push(checkInObject)
            // $scope.hasCheckedIn = true;
          }         
        };

      })
      .controller('HistoryController', function($scope, $localStorage) {
        $scope.storage = $localStorage;         
      })
      
      .controller('getRatingController', function($scope, $localStorage){
        $scope.storage = $localStorage;
        $scope.rating = function(beerId){
          var beerRating = '';
          $scope.storage.beers.forEach(function(elem){
            if(elem.id === beerId){
              beerRating = elem.rating;
              
            }
          })
          return new Array(parseInt(beerRating));
        };
      })
  </script>

</body>
</html>