<div class="container">
	<div class="age-box">
		<img src="{{resultDetailsBeer.labels.medium}}" class="img-responsive center-block">
		<div class="backgroundLogo2" ng-controller="checkInController">
			<h1>{{resultDetailsBeer.name}}</h1>	
			<p>{{resultDetailsBeer.description}}</p>
			<p>ABV :{{resultDetailsBeer.abv}}%</p>
		    <p>IBU :{{resultDetailsBeer.style.ibuMax}}</p>
		    Rating: 
		    <form>
			  <fieldset>
			    <span class="star-cb-group" ng-controller="ratingController">
			      <input class="star" type="radio" id="rating-5" name="{{$parent.resultDetailsBeer.id}}Rating" ng-model="$parent.resultDetailsBeer.rating" ng-change="rate($parent.resultDetailsBeer)" value="5" ng-checked="selectedRating === '5'" /><label for="rating-5">5</label>
			      <input class="star" type="radio" id="rating-4" name="{{$parent.resultDetailsBeer.id}}Rating" ng-model="$parent.resultDetailsBeer.rating" ng-change="rate($parent.resultDetailsBeer)" value="4" ng-checked="selectedRating === '4'" /><label for="rating-4">4</label>
			      <input class="star" type="radio" id="rating-3" name="{{$parent.resultDetailsBeer.id}}Rating" ng-model="$parent.resultDetailsBeer.rating" ng-change="rate($parent.resultDetailsBeer)" value="3" ng-checked="selectedRating === '3'" /><label for="rating-3">3</label>
			      <input class="star" type="radio" id="rating-2" name="{{$parent.resultDetailsBeer.id}}Rating" ng-model="$parent.resultDetailsBeer.rating" ng-change="rate($parent.resultDetailsBeer)" value="2" ng-checked="selectedRating === '2'" /><label for="rating-2">2</label>
			      <input class="star" type="radio" id="rating-1" name="{{$parent.resultDetailsBeer.id}}Rating" ng-model="$parent.resultDetailsBeer.rating" ng-change="rate($parent.resultDetailsBeer)" value="1" ng-checked="selectedRating === '1'" /><label for="rating-1">1</label>
			    </span>
			  </fieldset>
			</form>
		    <p><button type="button" ng-click="checkIn(resultDetailsBeer)" class="btn btn-primary" ng-disabled="hasCheckedIn">Drink It!</button></p>
		</div>

	</div>
	<div id="map" ng-class="showMap===true ? 'map-show' : 'map-hide'" class="age-box">
		<h3>Where are you drinking it?</h3>
		<div ng-controller="myLocation"><div id='map-canvas'></div></div>
	</div>
	
</div>