#logo { 
	min-width: 6%;
	max-width: 6%;
	float: left;
	margin: 0 auto;
}

#userIcon {
	min-width:4%;
	max-width: 4%;
	float: right;
	margin: 0 auto;
}

#backgroundBeer {
	background-image: 
}

#advancedOptions {
}