<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" id="backgroundBeer">
      <div class="container">
          <!--beer bakground picture by means of CSS-->

			<form ng-submit="submit()" class="col-sm-6 col-sm-offset-3 input-group">
		    	<div  class="input-group">
			    	<input type="text" class="form-control" placeholder="Search for..." ng-model="beerToSearch">
					<span class="input-group-btn">
						<button class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
					</span>
				</div>
				<div class="search-options">
					<div class="row">
						<div class="col-sm-6">
							<button type="button" class="btn btn-default" ng-click="showOpt()">Advanced filters</button>
						</div>
						<div class="col-sm-6">
							<select class="form-control" ng-change="change()" ng-model="selectSearcher">
								<option value="">Last searches</option>
								<option value="{{beer.url}}" ng-repeat="beer in storage.searches">{{ beer.beer }}</option>
							</select>
						</div>
					</div>
					<div ng-show="advOpt" class="advOptions">
						<div class="row">
							<fieldset class="col-xs-6"> <strong> Organic:</strong>
								<select class="form-control" ng-model="isOrganic">
								  <option value="">Select an option</option>
								  <option value="Y">Si</option>
								  <option value="N">No</option>
								</select>
							</fieldset>
							<fieldset class="col-xs-6"> <strong>Type of beer:</strong>
								<select class="form-control" ng-model="styleBeer">
								  <option value="">Select an option</option>
								  <option value="1">British Origin Alesless than 10</option>
								  <option value="2">Irish Origin Ales</option>
								  <option value="3">North American Origin Ales</option>
								  <option value="4">German Origin Ales</option>
								  <option value="5">Belgian And French Origin Ales</option>
								  <option value="6">International Ale Styles</option>
								  <option value="7">European-germanic Lager</option>
								  <option value="8">North American Lager</option>
								  <option value="9">Other Lager</option>
								  <option value="10">International Styles</option>
								  <option value="11">Hybrid/mixed Beer</option>
								  <option value="12">Mead, Cider, & Perry</option>
								</select>
							</fieldset>
						</div>
					</div>
				</div>

			</div>
			</form>
      </div>
    </div>


    <!--/Jumbotron-->

    <!-- <div>
				<p ng-repeat="beers in resultSearchedBeers | filter : { isOrganic : isOrganic  , style : { categoryId : styleBeer } }"> {{ beers.name }} </p>
			</div> -->

    <!-- Beginning body content. List of beers displayed-->
    <div class="container backgroundList">

    <h1 class="page-header" ng-show="beerToSearch">Searched beer: {{ beerToSearch }} </h1>
      
      <div class="row">
        <div class="col-sm-3" ng-repeat="beers in resultSearchedBeers | filter : { isOrganic : isOrganic  , style : { categoryId : styleBeer } }">
          <section class="beerResult">
            <img id="beerImage" class="img-thumbnail" src="{{beers.labels.medium || imageNot}}">
            <p><strong>{{ beers.name }}</strong></p>
            <p><a class="btn btn-default" href="#/specifications/{{beers.id}}" role="button">See beer &raquo;</a></p>
          </section>
        </div>
      </div>

 <div class="container">
      <div class="page-header">
        <img src="img/dumbeerTransparent.png" class="img-responsive center-block">
    </div>
  </div>