<section class="left-bar">
  <img class="imgUser" src="img/dumbeer.png" alt="">
  <!-- <p>User Name</p> -->
</section>
<section ng-show="storage.checkIn" ng-controller="historyController" class="profile-content">  
    <h1 class="page-header">My beers</h1>
    <div class="group" ng-repeat="checkin in storage.checkIn | orderBy : date:true">
      <div class="col-sm-2">
        <span class="img-circle" style="background-image:url({{checkin.label}})"></span>
      </div>
      <div class="col-sm-4">
        <p><strong>{{ checkin.beerName }}</strong></p>
        <time>{{ checkin.date | date : 'short' }}</time>
      </div>
      <div class="col-sm-3">
        <div ng-controller="getRatingController">
          <i class="glyphicon glyphicon-star" ng-repeat="rating in rating($parent.checkin.beerId) track by $index"></i><i class="glyphicon glyphicon-star-empty" ng-repeat="rating in ratingInv($parent.checkin.beerId) track by $index"></i>
        </div>
      </div>
      <div class="col-sm-3">
        <a href="#/specifications/{{ checkin.beerId }}" class="btn btn-default">Specifications</a>
      </div>
    </div>
</section>