<div class="col-sm-2 left-bar">
  <img class="imgUser" src="img/usuario.png" alt="">
  <p>User Name</p>
</div>

<div ng-show="storage.checkIn" ng-controller="historyController">  
  <div class="col-sm-10 ">
    <div class="group" ng-repeat="checkin in storage.checkIn">
      <div class="col-sm-2">
        <img class="img-circle" src="img/estrella-icon.png" alt="">
      </div>
      <div class="col-sm-3">
        <p><strong>{{ checkin.beerName }}</strong></p>
        <time>{{ checkin.date | date : 'short' }}</time>
      </div>
      <div class="col-sm-3">
        <div ng-controller="getRatingController">
          <i class="glyphicon glyphicon-star" ng-repeat="rating in rating($parent.checkin.beerId)"></i>
        </div>
      </div>
      <div class="col-sm-2">
        <button class="btn btn-default">Specifications</button>
      </div>
    </div>
  </div>
</div>